Language Certificates
Proof of German proficiency
Due to the current situation language tests are still cancelled or postponed. To apply successfully for winter semester 2021 please submit with your application a proof of language GER C1 level. A recognised language certificate must then be submitted with enrolment the latest.The following tests are recognised as proof of language proficiency at HTW Berlin:
Deutsche Sprachprüfung für den Hochschulzugangwith an overall grade of DSH 2
with an overall grade of DSH 2
Test Deutsch als FremdspracheTestDaF with at least TDN 4 level in each subtest for all study programmes
TestDaF with at least TDN 4 level in each subtest for all study programmes
"Prüfungsteil Deutsch"of the final assessment test after completion of the Studienkolleg (university preparatory course)
Deutsches Sprachdiplom der Kultusministerkonferenz“Zweite Stufe” with Level C1 in all 4 sections of the test
“Zweite Stufe” with Level C1 in all 4 sections of the test
Goethe Zertifikat C2 (GDS)
telc Deutsch C1 Hochschule
Intermediate-level (Mittelstufe) test certificates are not sufficient.Further information onrecognised German language tests
Proof of English proficiency
If  you are applying for a study programme conducted entirely in English,  you are required to proof the existence of a minimum level of English  language proficiency with a recognised language test. Awarding of a  place on the programme is dependent on this requirement. The minimum  level shall be indicated via a verifiable language test result to be  presented by the applicant in the form of specific lanaguage test  result.
Further information onrecognised English language tests
Themen
Information for
About HTW Berlin
Popular pages
Portals
Service