Mandatory aptitude test
Table of contents
Take the aptitude test first…
A number of design and cultural studies programmes require an aptitude test. Please apply directly to the study programme to take the aptitude test. Please note that the dates for aptitude tests are before the general application deadlines.
… then apply
Once you have passed the aptitude test, you can then submit your application within the standard application deadlines for your chosen programme of study.
Please use theonline application of the HTW Berlinwithin the application periods.
Bachelor’s degree programmes with aptitude tests
Game Design
Industrial      Design
Kommunikationsdesign
Konservierung      und Restaurierung/Grabungstechnik
Modedesign
Master’s degree programmes with aptitude tests
Konservierung      und Restaurierung
Modedesign
System Design
Themen
Information for
About HTW Berlin
Popular pages
Portals
Service