Voluntary academic assessment test
Table of contents
Advantages
If you take an academic assessment test, you can
increase your chances of admission
check for yourself whether the subject you have chosen is really right for you
Tests for Bachelor’s degree programmes
For a number of study programmes you can take an academic assessment test free of charge:
Wirtschaft und Politik
You are not obliged to take this test.
Test for Academic Studies (TestAS)
If you obtained your higher education entry qualification abroad and wish to start a Bachelor’s degree programme in Germany, you can take the TestAS to check whether studying is the right choice for you. If you are from a non-EU country or if you are stateless, you can improve your prospects of a study place with good test results.
Self assessments
HTW Berlin offersself assessmentsfor individual study programmes. A self-assessment is a good way to test whether a degree programme is right for you. You can also find out more about the structure and content of the study programme. Unlike the voluntary academic assessment test, however, it will not increase your chances of receiving a study place.
Applying for a study place
Submit your application within the standard application deadlines — regardless whether you take the academic assessment test or not. If you are applying with
certificates obtained in Germany, use the online application system of HTW Berlin.
foreign certificates, please use the uni-assist system.
Themen
Information for
About HTW Berlin
Popular pages
Portals
Service