Numerus clausus
Table of contents
NC – what does that mean?
The Numerus Clausus or NC (restricted admission) listed for a study programme indicates how high your general university/university of applied sciences entry qualification grade would have to have been in order to have successfully applied for a study place last semester. The NC does not indicate how good your chances will be in the future, as the NC can sometimes be very different from semester to semester.The Numerus Clausus for a study programme depends on
how many study places are allocated,
how many applications are received
and how many admitted applicants actually accept their study place.
It is therefore always worth applying for a study place on your chosen programme of study. TheStudy Advisory Serviceteam will be pleased to advise you.
Selection procedure for Bachelor’s degree programmes
Study places for Bachelor’s degree programmes are generally allocated as follows:
20% based on the general university/university of applied sciences entry qualification grade,
20% based on waiting time, i.e. the number of six-month periods between obtaining the higher education entry qualification and the time of application minus the number of semesters enrolled at a German or European university or a university of a Member State of the Agreement on the European Economic Area,
60% based on the internal selection procedure in which study places are allocated on the basis of 50% for the general university/university of applied sciences entry qualification grade and 50% for the completed vocational training grade.
Exceptionsapply for the following study programmes:
ForWirtschaft und Politika voluntary academic assessment test is included in the calculation.
ForInternationale Medieninformatikmathematics, computer science and/or physics are included in the calculation as advanced course(s). Different preliminary quotas also apply.
ForWirtschaftskommunikation50% of the places are allocated according to the (subject) Abitur grade and 50% according to the waiting time, i.e. there is no university selection.
ForGame Design,Industrial Design,Kommunikationsdesign,Konservierung und Restaurierung/GrabungstechnikandModedesignapplicants must take an aptitude test.
For certain applicant groupspreliminary quotasexist, i.e. a set percentage of study places is reserved for these groups. This applies to you if
you obtained your higher education entry qualification abroadand are not an EU/EEA citizen,
you are applying for yoursecond degree programme,
you are applying for recognition of hardship,
you areapplying for a study programme and have a vocational qualification.
Selection procedure for Master’s degree programmes
Study places for Master’s degree programmes are generally awarded as follows:
80% based on the university’s internal selection criteria,
20% based on waiting time, i.e. the number of six-month periods between obtaining your first academic degree and the time of application (minus the number of semesters enrolled at a university during this period).
Study places for Master’s degree programmes are allocated according to the university’s internal selection criteria (grade of the first academic degree qualifying the graduate for employment and professional experience). The criteria can be found in the respective Admissions Regulations.
Ranking and step-up process
Approx. four weeks after the close of applications, you will receive a letter of admission or refusal in theapplication portal. If you have not been allocated a study place during the main allocation process, it is possible to receive a study place in the step-up-process of HTW Berlin or thecoordinated step-up processby hochschulstart.de.
Information on rankings will not be disclosed. Please therefore refrain from enquiring.
Themen
Information for
About HTW Berlin
Popular pages
Portals
Service