Admission requirements
Table of contents
General requirements
For admission to a Bachelor’s degree programme at HTW Berlin, you require
a general higher education entrance qualification or
a subject-specific higher education entrance qualification or
specialist entry qualifications in accordance with § 11 of the Berlin Higher Education Actor
a recognised foreign higher education entry qualification.
For admission to aMaster’s degree programmeyou require a recognised first academic degree.
Study programme-specific requirements
A number of study programmes have additional requirements. On the website of your chosen study programme, you can find out whether the study programme
is subject toNumerus Clausus(restricted admissions).
requires apre-study internship.
requires anaptitude test.
offers anacademic assessment test.
requires professional experience - most distance-learning and further education study programmes require one or more years ofprofessional experience.
requires proof oflanguage proficiency.If you have foreign certificates and wish to apply for a study programme conducted in German, you requireproof of German proficiency.If you wish to apply for a study programme conducted in English, you requireproof of English proficiency.Study programme specific requirements are listed on the respective study programme's website.
If you have foreign certificates and wish to apply for a study programme conducted in German, you requireproof of German proficiency.
If you wish to apply for a study programme conducted in English, you requireproof of English proficiency.
Themen
Information for
About HTW Berlin
Popular pages
Portals
Service